@font-face{
    font-family: "Chronicle Display";
    src:url(fonts/Chronicle\ Display\ Roman.otf)
}

@font-face{
    font-family: "Gilroy";
    src:url(fonts/Gilroy-Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 10px;
}

.containers {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;
    width: 1462px;
    height: auto 3040px;
    background: var(--BG, #0B1D26);
}

.footer {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 7.89%; */
    height:9.21%;
}

.footer > .left-side {
    
    order : 0;
    display: flex;
    flex-direction: column;
    width: 25%; 
    color: rgb(255, 255, 255); 
    font-size: 1.8rem; 
    font-family: Gilroy; 
    font-weight: 700; 
    line-height: 3.2rem; 
}

.footer > .left-side > .logo {
    color: var(--Wei, #FFF);
    font-family: "Chronicle Display";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.032rem;
    text-transform:uppercase;
    margin-top: -0.7rem;
}

.footer > .left-side > .catchprase {
    color: #FFF;
    font-family: Gilroy;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 3.2rem; /* 177.778% */
    margin-top:2.4rem;
    word-wrap: break-word;
    width: 30.3rem;
}

.footer > .left-side > .copyright {
    margin-bottom: 0px;
    margin-top: auto;
    color: #FFF;
    font-family: Gilroy;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 3.2rem;
    opacity: 0.5;
    
}

.footer > .right-side-links {
    
    order: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 0px;
    margin-left: auto;
    margin-top: 0px;
    gap:2.14rem;
    
}

.footer > .right-side-links >  div > h3 {
    color: var(--Accent, #FBD784);
    font-family: Gilroy;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.footer > .right-side-links > div > ul {
    margin-top: -0.7rem;

}

.footer > .right-side-links >  div > ul > li > a{
    text-transform: capitalize;
    color: #FFF;
    font-family: Gilroy;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.6rem;
}


@media screen and (max-width: 1280px) {
    .containers {
    width: 1200px;
    }
    html {
    font-size: 8.2px;
    }
}

@media  (max-width: 992px) {
    .containers {
    width: 992px;
    ;
    }
    html {
    font-size: 6px;
    }
}

@media  (max-width: 950px) {
    .containers {
    width: 950px;
    ;
    }
    html {
    font-size: 5.5px;
    }
}

@media (max-width: 820px) {
    .containers {
    width: 820px;
    ;
    }
    html {
    font-size: 4.62px;
    }
}

@media screen and (max-width: 545px) {
    .containers {
        width: 545px;
        
    }
    html {
        font-size: 3.3px;
    }
}

@media screen and (max-width: 480px) {
    .containers {
        width: 480px;
    
    }
    html {
        font-size: 3px;
    }
}

@media screen and (max-width: 430px) {
    .containers {
        width: 430px;
    }
    html {
        font-size: 3px;
    }
}




@media screen and (max-width: 393px) {
    .containers {
        width: 393px;
    }
    html {
        font-size: 3px;
    }
}


@media screen and (max-width: 340px) {
    .containers {
        width: 340px;

    }

    html {
        font-size: 3px;
    }

}