@font-face{
    font-family: "Chronicle Display";
    src:url(fonts/Chronicle\ Display\ Roman.otf)
}

@font-face{
    font-family: "Gilroy";
    src:url(fonts/Gilroy-Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* change this font-size value to change all of the font sizes. They are bound with rem */
html {
    font-size: 2px;
}
.box {
    width: 1920px;
    height: 1200px;
}

.box .BG-hero {
    position: fixed;
    width: 1920px;
    height: 1200px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(11.48, 29.32, 38.25, 0) 0%, rgb(11.48, 29.32, 38.25) 100%);
}
