@font-face{
    font-family: "Chronicle Display";
    src:url(fonts/Chronicle\ Display\ Roman.otf)
}

@font-face{
    font-family: "Gilroy";
    src:url(fonts/Gilroy-Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 2px;
}

.containers {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 100rem;
    width: 1462px;
    height: auto 3040px;
    background: var(--BG, #0B1D26);
}

.footer {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 7.89%; */
    height:9.21%;
}

.footer > .left-side {
    order : 0;
    display: flex;
    flex-direction: column;
    width: 25%; 
    color: rgb(255, 255, 255); 
    font-size: 9rem; 
    font-family: Gilroy; 
    font-weight: 700; 
    line-height: 16rem; 
}

.footer > .left-side > .logo {
    color: var(--Wei, #FFF);
    font-family: "Chronicle Display";
    font-size: 16rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.16rem;
    text-transform:uppercase;
    margin-top: -3.5rem;
}

.footer > .left-side > .catchprase {
    color: #FFF;
    font-family: Gilroy;
    font-size: 9rem;
    font-style: normal;
    line-height: 16rem; /* 177.778% */
    margin-top:12rem;
    word-wrap: break-word;
    width: 151.5rem;
}

.footer > .left-side > .copyright {
    margin-bottom: 0px;
    margin-top: auto;
    color: #FFF;
    font-family: Gilroy;
    font-size: 9rem;
    font-style: normal;
    line-height: 16rem;
    opacity: 0.5;
    
}

.footer > .right-side-links {
    order: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 0px;
    margin-left: auto;
    margin-top: 0px;
    gap:107rem;
    
}

.footer > .right-side-links >  div > h3 {
    color: var(--Accent, #FBD784);
    font-family: Gilroy;
    font-size: 12rem;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16rem;
}

.footer > .right-side-links > div > ul {
    margin-top: -3.5rem;

}

.footer > .right-side-links >  div > ul > li > a{
    text-transform: capitalize;
    color: #FFF;
    font-family: Gilroy;
    font-size: 9rem;
    font-style: normal;
    font-weight: 500;
    line-height: 23rem;
}
