footer {
  display: flex;
  width: 100%;
  max-width: 1462px;
  height: auto;
}

.footer__content-wrapper {
  flex: 1 0 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--clr-white);
}

.footer__catchprase {
  font-style: normal;
  line-height: 2rem;
  word-wrap: break-word;
  font-size: var(--fnt-size-s);
  max-width: 303px;
}

.footer__copyright {
  font-size: var(--fnt-size-s);
  opacity: 0.5;
  margin-top: auto;
}

.footer__links-wrapper {
  flex: 1 0 40%;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__links h3 {
  color: var(--clr-secondary);
  font-size: var(--fnt-size-s-m);
  font-style: normal;
  font-weight: 700;
}

.footer__links ul {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__links a {
  text-transform: capitalize;
  color: var(--clr-white);
  font-size: var(--fnt-size-s);
  font-style: normal;
  font-weight: 500;
}
