@font-face {
  font-family: "Chronicle Display";
  src: url(/fonts/Chronicle\ Display\ Roman.otf);
}

@font-face {
  font-family: "Gilroy";
  src: url(/fonts/Gilroy-Bold.ttf);
}

:root {
  --fnt-size-xs: 0.5rem; /* 8px */
  --fnt-size-s: 1.25rem; /* 16px */
  --fnt-size-m: 2rem; /* 32px */
  --fnt-size-lg: 4rem; /* 64px */
  --fnt-size-xlg: 8rem; /* 128px */
  --fnt-size-xxlg: 16rem; /* 256px */
  --fnt-family-primary: "Gilroy";
  --fnt-family-secondary: "Chronicle Display";
  --fnt-weight-700: 700;
  --fnt-weight-500: 500;
  --clr-white: #ffff;
  --clr-secondary: #fbd784;
  --clr-primary: #0b1d26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fnt-family-primary);
  background-color: var(--clr-primary);
}
