.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  height: 1200px;
  padding: 60px 80px 0px;
  align-items: center;
  justify-content: start;
  gap: 13rem;
  background-image: linear-gradient(
    330deg,
    rgba(11, 29, 38, 0) 20.06%,
    #0b1d26 108.93%
  );
  background-size: cover;
  /* background-position: top 0px right 0px, top -74rem right 0px,
    top 76.4rem right, top 28rem right 0px; */
}

.header-section {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-white);
}

.logo--order {
  order: 1;
}

.nav-wrapper {
  width: auto;
  height: auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  order: 2;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav-links > li > a {
  color: var(--clr-white);
  font-size: var(--fnt-size-s); /* 18px */
  font-style: normal;
  font-weight: var(--fnt-weight-700);
}

.account {
  display: flex;
  gap: 1rem;
  order: 3;
}

.account > a {
  color: var(--clr-white);
  font-size: var(--fnt-size-s); /* 18px */
  font-style: normal;
  font-weight: var(--fnt-weight-700);
  line-height: normal;
}

.middle-section {
  display: flex;
  justify-content: space-between;
}

.social {
  display: grid;
  justify-content: center;
  align-content: center;
  height: auto;
  gap: 2rem;
}

.social__follow-us {
  color: var(--clr-white);
  font-size: var(--fnt-size-s);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  writing-mode: vertical-lr;
}

.social li {
  width: auto;
}

.slider-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  justify-content: center;
  align-content: center;
  height: auto;
}

.slider__numbers {
  display: grid;
  grid-auto-rows: min-content;
  gap: 3rem;
  justify-content: center;
  color: var(--clr-white);
  font-size: var(--fnt-size-s);
  font-weight: var(--fnt-weight-700);
  line-height: normal;
}

.slider-wrapper > ul > li {
  justify-self: end;
}

.slider__line {
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.2));
}

.text-block-wrapper {
  max-width: 52%;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: auto;
}

.text-block__title {
  color: var(--clr-white);
  font-size: var(--fnt-size-xlg);
  font-family: var(--fnt-family-secondary);
  font-weight: var(--fnt-weight-500);
  text-transform: capitalize;
  height: auto;
  line-height: 100px;
}
@media screen and (max-width: 1080px) {
  .text-block-wrapper {
    max-width: 70%;
  }
}

@media screen and (max-width: 880px) {
  .text-block__title {
    font-size: var(--fnt-size-lg); /* 64px */
  }
}

@media screen and (max-width: 750px) {
  .account {
    order: 1;
  }
  .nav-links-wrapper {
    order: 2;
  }
  .header-section {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
  }
  .hero-container {
    gap: 8rem;
  }
}

@media screen and (max-width: 500px) {
  .hero-container {
    gap: 6rem;
  }
  .account {
    order: 1;
  }
  .nav-links-wrapper {
    order: 2;
  }
  .header-section {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
  }
  .text-block__title {
    font-size: var(--fnt-size-xm); /* 48px */
    line-height: 70px;
  }
  .hero-container {
    padding: 60px 30px 0px;
    height: 1000px;
  }
  .slider-wrapper {
    gap: 8px;
  }
  .slider__numbers {
    font-size: var(--fnt-size-xs); /* 16px */
  }
  .social__follow-us {
    font-size: var(--fnt-size-xs); /* 16px */
  }
}

@media screen and (max-width: 380px) {
  .text-block__title {
    line-height: 60px;
  }
}
